<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Expace Development - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="/css/app.css" rel="stylesheet">
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="d-none d-lg-block col-lg-4">
                        <div class="slider-light">
                            <div class="slick-slider">
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('/assets/images/originals/citynights.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Connectez vous !</h3>
                                            <p>Connectez vous et accèdez à vos projets et documents
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="./assets/scripts/main.05d4006abd021b7a7c58.js"></script>
</body>

</html>