{% extends 'admin/base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}

    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>Modifier un utilisateur
                        <div class="page-title-subheading">Vous pouvez sur cette page modifier les infos de l'utilisateur</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-animation">
            <div class="card mb-3">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="header-icon fas fa-user-edit mr-3 text-muted opacity-6"></i>
                        Editer les infos
                    </div>
                    
                </div>
                <div class="card-body">
                    {{ include('admin/users/_form.html.twig', {'button_label': 'Modifier les infos'}) }}
                </div>
                
            </div>
            


        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.5"></script>
<script>
(function() {
  var placesAutocomplete = places({
    appId: 'pl5E0AERLP0E',
    apiKey: 'ec874759e7f8ed96f0c8747a7ff29131',
    container: document.querySelector('#users_adresse'),
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  }).configure({
    type: 'address'
  });
  placesAutocomplete.on('change', function resultSelected(e) {
    //document.querySelector('#form-address2').value = e.suggestion.administrative || '';
    document.querySelector('#users_ville').value = e.suggestion.city || '';
    document.querySelector('#users_codePostal').value = e.suggestion.postcode || '';
    document.querySelector('#users_pays').value = e.suggestion.country || '';
  });
})();
</script>
{% endblock %}

