<div class="blog-layout__aside-item">
    <!-- RD Search-->
    <form class="rd-search rd-search_inline form_lg form_outline" action="search-results.html" method="GET">
        <div class="form-wrap">
            <label class="form-label" for="rd-search-blog-form-input">Search blog...</label>
            <input class="form-input" id="rd-search-blog-form-input" type="text" name="s" autocomplete="off">
        </div>
        <button class="button-link fl-budicons-launch-search81" type="submit"></button>
    </form>
</div>
