{% extends 'admin/base.html.twig' %}

{% block title %}Configurer la société{% endblock %}

{% block body %}

<div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>Créer une société
                        <div class="page-title-subheading">Vous pouvez sur cette page créer une nouvelle société</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-animation">
            <div class="card mb-3">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="header-icon fas fa-user-tie mr-3 text-muted opacity-6"></i>
                        Infos sur la société
                    </div>
                    
                </div>
                <div class="card-body">
                    {{ include('admin/identite_societe/_form.html.twig', {'button_label': 'Créer la nouvelle société'}) }}
                </div>
                
            </div>
            


        </div>
    </div>

    

{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/places.js@1.16.5"></script>
<script>
(function() {
  var placesAutocomplete = places({
    appId: 'pl5E0AERLP0E',
    apiKey: 'ec874759e7f8ed96f0c8747a7ff29131',
    container: document.querySelector('#identite_societe_adresse'),
    templates: {
      value: function(suggestion) {
        return suggestion.name;
      }
    }
  }).configure({
    type: 'address'
  });
  placesAutocomplete.on('change', function resultSelected(e) {
    //document.querySelector('#form-address2').value = e.suggestion.administrative || '';
    document.querySelector('#identite_societe_ville').value = e.suggestion.city || '';
    document.querySelector('#identite_societe_codePostal').value = e.suggestion.postcode || '';
    document.querySelector('#identite_societe_pays').value = e.suggestion.country || '';
  });
})();
</script>
{% endblock %}
