{% extends 'base.html.twig' %}

{% block body %}
    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__aside bg-image context-dark" style="background-image: url(images/bg-image-1-1920x238.jpg);">
            <div class="container">
                <h2 class="breadcrumbs-custom__title">Politique de confidentialité</h2>
            </div>
        </div>
        <div class="breadcrumbs-custom__main bg-gray-light">
            <div class="container">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="{{path('home')}}">Accueil</a></li>
                    <li class="active">Confidentialite</li>
                </ul>
            </div>
        </div>
    </section>

        <!-- Privacy Policy-->
        <section class="section section-md bg-gray-light">
            <div class="container">
                <div class="card-group card-group-custom card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="true">
                    <div class="row justify-content-lg-center row-30">
                        <div class="col-md-6">
                            <!-- Bootstrap card-->
                            <div class="card card-custom card-corporate">
                                <div class="card-heading" id="accordion1Heading1" role="tab">
                                    <div class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse1" aria-controls="accordion1Collapse1">
                                            Informations générales
                                            <div class="card-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-collapse collapse" id="accordion1Collapse1" role="tabpanel" aria-labelledby="accordion1Heading1">
                                    <div class="card-body">
                                        <p>Bienvenue sur notre page Politique de confidentialité! Lorsque vous utilisez nos services, vous nous faites confiance avec vos informations. Cette politique de confidentialité est destinée à vous aider à comprendre quelles données nous collectons, pourquoi nous les collectons et ce que nous en faisons. Lorsque vous partagez des informations avec nous, nous pouvons rendre nos services encore meilleurs pour vous. Par exemple, nous pouvons vous montrer des résultats de recherche et des annonces plus pertinents, vous aider à vous connecter avec des personnes ou à rendre le partage avec d'autres plus rapide et plus facile. Lorsque vous utilisez nos services, nous voulons que vous sachiez clairement comment nous utilisons ces informations et comment vous pouvez protéger votre vie privée. C'est important; nous espérons que vous prendrez le temps de le lire attentivement. N'oubliez pas que vous pouvez trouver des contrôles pour gérer vos informations et protéger votre confidentialité et votre sécurité. Nous avons essayé de le garder aussi simple que possible.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap card-->
                            <div class="card card-custom card-corporate">
                                <div class="card-heading" id="accordion1Heading2" role="tab">
                                    <div class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse2" aria-controls="accordion1Collapse2">
                                            Accès, modification et de suppression des données
                                            <div class="card-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-collapse collapse" id="accordion1Collapse2" role="tabpanel" aria-labelledby="accordion1Heading2">
                                    <div class="card-body">
                                        <p>Nos clients ont le droit d'accéder, de corriger et de supprimer les données personnelles les concernant, et de s'opposer au traitement de ces données, en adressant une demande écrite, à tout moment. La Société met tout en œuvre pour mettre en place des précautions appropriées pour garantir la sécurité et la confidentialité des données personnelles et pour éviter qu'elles ne soient altérées, corrompues, détruites ou consultées par des tiers non autorisés. Cependant, la Société ne maîtrise pas tous les risques liés à l'utilisation d'Internet et met donc en garde les utilisateurs du Site contre les risques potentiels liés au fonctionnement et à l'utilisation d'Internet. Le site peut inclure des liens vers d'autres sites Web ou d'autres sources Internet. Comme la Société ne peut pas contrôler ces sites Web et sources externes, la Société ne peut être tenue responsable de la fourniture ou de l'affichage de ces sites Web et sources externes, et ne peut être tenue responsable du contenu, de la publicité, des produits, des services ou de tout autre matériel. disponibles sur ou à partir de ces sites Web ou de sources externes.</p>                                    
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap card-->
                            <div class="card card-custom card-corporate">
                                <div class="card-heading" id="accordion1Heading3" role="tab">
                                    <div class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse3" aria-controls="accordion1Collapse3">
                                            Gestion des données personnelles
                                            <div class="card-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-collapse collapse" id="accordion1Collapse3" role="tabpanel" aria-labelledby="accordion1Heading3">
                                    <div class="card-body">
                                        <p>Vous pouvez consulter ou modifier vos données personnelles en ligne pour bon nombre de nos services. Vous pouvez également faire des choix concernant notre collecte et notre utilisation de vos données. La façon dont vous pouvez accéder ou contrôler vos données personnelles dépendra des services que vous utilisez. Vous pouvez choisir si vous souhaitez recevoir des communications promotionnelles de notre site Web par e-mail, SMS, courrier physique et téléphone. Si vous recevez des e-mails promotionnels ou des SMS de notre part et que vous souhaitez vous désinscrire, vous pouvez le faire en suivant les instructions contenues dans ce message. Vous pouvez également faire des choix concernant la réception des e-mails promotionnels, des appels téléphoniques et du courrier postal en visitant et en vous connectant au responsable de la communication promotionnelle de l'entreprise, ce qui vous permet de mettre à jour les informations de contact, de gérer les préférences de contact, de vous désabonner des abonnements par e-mail et de choisir de partagez vos coordonnées avec nos partenaires. Ces choix ne s'appliquent pas aux communications de service obligatoires qui font partie de certains services de ce site Web.</p>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Bootstrap card-->
                            <div class="card card-custom card-corporate">
                                <div class="card-heading" id="accordion1Heading4" role="tab">
                                    <div class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse4" aria-controls="accordion1Collapse4">
                                            Quelle est votre politique de recolte?
                                            <div class="card-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-collapse collapse" id="accordion1Collapse4" role="tabpanel" aria-labelledby="accordion1Heading4">
                                    <div class="card-body">
                                        <p>Notre magasin recueille des données pour fonctionner efficacement et vous offrir les meilleures expériences avec nos services. Vous fournissez certaines de ces données directement, par exemple lorsque vous créez un compte personnel. Nous en obtenons une partie en enregistrant la façon dont vous interagissez avec nos services en utilisant, par exemple, des technologies telles que les cookies et en recevant des rapports d'erreur ou des données d'utilisation des logiciels exécutés sur votre appareil. Nous obtenons également des données de tiers (y compris d'autres sociétés). Par exemple, nous complétons les données que nous collectons en achetant des données démographiques à d'autres sociétés. Nous utilisons également des services d'autres sociétés pour nous aider à déterminer un emplacement en fonction de votre adresse IP afin de personnaliser certains services à votre emplacement. Les données que nous collectons dépendent des services et fonctionnalités que vous utilisez.</p>                                    
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap card-->
                            <div class="card card-custom card-corporate">
                                <div class="card-heading" id="accordion1Heading5" role="tab">
                                    <div class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse5" aria-controls="accordion1Collapse5">
                                            Comment nous utilisons vos informations
                                            <div class="card-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-collapse collapse" id="accordion1Collapse5" role="tabpanel" aria-labelledby="accordion1Heading5">
                                    <div class="card-body">
                                        <p>Notre site Web utilise les données que nous collectons à trois fins fondamentales: exploiter notre entreprise et fournir (y compris améliorer et personnaliser) les services que nous offrons, envoyer des communications, y compris des communications promotionnelles, et afficher de la publicité. Pour réaliser ces objectifs, nous combinons les données que nous collectons via les différents services de site Web que vous utilisez pour vous offrir une expérience plus transparente, cohérente et personnalisée. Cependant, pour améliorer la confidentialité, nous avons intégré des protections technologiques et procédurales conçues pour empêcher certaines combinaisons de données. Par exemple, nous stockons les données que nous collectons auprès de vous lorsque vous n'êtes pas authentifié (non connecté) séparément des informations de compte qui vous identifient directement, telles que votre nom, votre adresse e-mail ou votre numéro de téléphone.</p>                                    
                                    </div>
                                </div>
                            </div>
                            <!-- Bootstrap card-->
                            <div class="card card-custom card-corporate">
                                <div class="card-heading" id="accordion1Heading6" role="tab">
                                    <div class="card-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#accordion1Collapse6" aria-controls="accordion1Collapse6">
                                            Partager vos informations
                                            <div class="card-arrow"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-collapse collapse" id="accordion1Collapse6" role="tabpanel" aria-labelledby="accordion1Heading6">
                                    <div class="card-body">
                                        <p>Nous partageons vos données personnelles avec votre consentement ou si nécessaire pour finaliser toute transaction ou fournir tout service que vous avez demandé ou autorisé. Par exemple, nous partageons votre contenu avec des tiers lorsque vous nous le dites. Lorsque vous fournissez des données de paiement pour effectuer un achat, nous partageons les données de paiement avec des banques et d'autres entités qui traitent des transactions de paiement ou fournissent d'autres services financiers, et pour la prévention de la fraude et la réduction du risque de crédit. De plus, nous partageons des données personnelles entre nos sociétés affiliées et filiales contrôlées. Nous partageons également des données personnelles avec des fournisseurs ou agents travaillant en notre nom aux fins décrites dans cette déclaration. Par exemple, les entreprises que nous avons embauchées pour fournir un support au service client ou pour aider à protéger et sécuriser nos systèmes et services peuvent avoir besoin d'accéder à des données personnelles afin de fournir ces fonctions. Dans de tels cas, ces sociétés doivent respecter nos exigences de confidentialité et de sécurité des données et ne sont pas autorisées à utiliser les données personnelles qu'elles reçoivent de nous à d'autres fins. Nous pouvons également divulguer des données personnelles dans le cadre d'une transaction d'entreprise telle qu'une fusion ou une vente d'actifs.</p>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}