{% extends 'base.html.twig' %}

{% block title %}Edit TemoignageClient{% endblock %}

{% block body %}
    <h1>Edit TemoignageClient</h1>

    {{ include('temoignage_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('temoignage_client_index') }}">back to list</a>

    {{ include('temoignage_client/_delete_form.html.twig') }}
{% endblock %}
