{% extends 'client/base.html.twig' %}

{% block title %}Rédiger un message{% endblock %}

{% block body %}

        <div class="app-inner-layout">
            <div class="app-inner-layout__wrapper">
                <div class="app-inner-layout__content card">
                    <div>
                        <div class="app-inner-layout__top-pane">
                            <div class="pane-left">
                                <div class="mobile-app-menu-btn">
                                    <button type="button" class="hamburger hamburger--elastic">
                                        <span class="hamburger-box">
                                            <span class="hamburger-inner"></span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="app-main__inner">
            <div class="card mb-3">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                        <i class="header-icon fas fa-edit mr-3 text-muted opacity-6"></i>
                        Rédiger mon message
                    </div>
                    
                </div>
                <div class="card-body">
                    {{ include('client/messages/_form.html.twig', {'button_label': 'Envoyer mon message'}) }}
                </div>
                
            </div>
            


        </div>
                        </div>
                    </div>
                </div>
                {% include "partials/navigation_messages.html.twig" %}
            </div>
        </div>
{% endblock %}
